div.login
  header.login-header
    span.text LOGIN
    span.loader
  form.login-form
    input.login-input(type="text", placeholder="Username")
    input.login-input(type="password", placeholder="Password")
    button.login-btn(type="submit") login